[submodule "blnt-backfill-contract"]
	path = blnt-backfill-contract
	url = git@github.com:Blend-V2-1/blnt-backfill-contract.git
	branch = main
[submodule "comet-contracts-v1.1"]
	path = comet-contracts-v1.1
	url = git@github.com:Blend-V2-1/comet-contracts-v1.1.git
	branch = main
[submodule "blend-ui"]
	path = blend-ui
	url = git@github.com:Blend-V2-1/blend-ui.git
	branch = main
[submodule "blend-sdk-js"]
	path = blend-sdk-js
	url = git@github.com:Blend-V2-1/blend-sdk-js.git
	branch = main
[submodule "blend-contracts-v2"]
	path = blend-contracts-v2
	url = git@github.com:blend-capital/blend-contracts-v2.git
	branch = main
[submodule "blend-contracts"]
	path = blend-contracts
	url = git@github.com:blend-capital/blend-contracts.git
	branch = main
